# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
* Popular DS languages 
* Commonly used DS libraries 
* Common DS tools 
* Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: 
1. Python 
2. R 
3. Julia

Some of the commonly used libraries used by Data Scientists include:
* pandas 
* NumPy 
* Matplotlib

| Data Science Tools |
| --- |
| JupyterLab |
| Apache Zeppelin | 
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Thierry Baudez